.vscode
/src/__pycache__/*.pyc
*_config.py
*~
/*/
!/src
/qsub/*
#/libs/*
#/data/*
#/out/*

*.subproj.*

/src/*.sh.e*
/src/*.sh.o*
/src/nh*.out
/src/nh*
*.bak

*.swp
*split_cmds.txt

.ipynb*
*.pyc

*.code-workspace
